// breakpoints:

// mobile - 480px
// tablet - 768px
// desctop - 1200px

// desctop styles
.container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    
    margin-left: auto;
    margin-right: auto;

// tablet
    @media screen and (min-width: 768px) {
        max-width: 738px;
    }
     
// desctop
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
    outline: 2px solid blueviolet;
}
    
