// breakpoints:

// mobile - 480px
// tablet - 768px
// desctop - 1200px

// desctop styles
.container {
    max-width: 480px;
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    
    margin-left: auto;
    margin-right: auto;
    // @media screen and(min width: 320px) and(max-width: 767px){
    //     min-width: 320px;
    // }

// tablet
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }
     
// desctop
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}
    
