.projects {
    padding-top: 0;
    @media screen and (max-width: 1199px)
     {display: none;}

    &__title {
            font-family: 'Roboto';
            font-size: 36px;
            line-height: 42px;
            letter-spacing: 0.03em;
            text-align: center;
            color: var(--main-txt-cl)
        
}

&__list {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}



&__thumb {
    position: relative;
}

&__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;

    background-color: rgba(47, 48, 58, 0.8);

}

&__txt {
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    letter-spacing: 0,03em;
    color: var(--light-txt-cl);
}
}